@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

 body {
    background: rgb(212 105 24 / 71%);
    margin: 20px;
    color: #100f11;
    -webkit-font-smoothing: antialiased;
    font-family: 'Ranchers', cursive;

  }
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: rgba(2, 47, 197, 0.733);
    border-radius: 5px;
    border: 0px;
    color: rgb(250, 240, 255);
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    font-weight: bold;
  }
  h1{
    justify-content: center;
    display: flex;
  }
  
  button:hover {
    background-color: #36d3e7;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }

.row{
    display: flex;
    
  }

.col{
    flex-grow: 1;
    margin-right: 10px;
  }
  
input{
    display: block;
    margin:5px;
    border-radius: 8px;
    background-color: black;
    color: rgb(236, 180, 76);
    width: 200px;
    height: 30px;
    font-weight: bold;
  }